<!--==============================header=================================-->
<header>
  <div class="container_12">
    <div class="grid_12">
      <h1><a href="index.html"><img src="images/logo.png" alt="Gerald Harris attorney at law"></a> </h1>
      <div class="menu_block">
        <nav  class="" >
          <ul class="sf-menu">
            <li><a href="/">Home</a></li>
            <li class="current"><a href="index-1">Forums</a>
                  <ul>
                    <li><a href="#"> Testimonials</a></li>
                    <li><a href="#">Archive</a></li>
                  </ul>
            </li>
            <li><a href="services">Services</a></li>
            <li><a href="login">Log in</a></li>
            <li><a href="index-4">About Us </a></li>
          </ul>
       </nav>
      <div class="clear"></div>
      </div>
         <div class="clear"></div>
    </div>
  </div>
</header>
